* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
{
    list-style: none;
}

a {
    text-decoration: none;
    color: red;
}


/*----------------------------*/


/*------------NAV-------------*/


/*----------------------------*/

#navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
}

#logo {
    color: white;
    background-color: black;
    height: 3rem;
    width: 6rem;
    text-align: center;
    padding: 10px;
}

#navbar>div>button {
    border: none;
    border-left: 1px solid rgba(128, 128, 128, 0.404);
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

#navbar>div>button:hover {
    color: rgb(171, 171, 171);
}

#menu {
    color: red;
}

#statement-row {
    display: grid;
    position: relative;
    align-items: center;
    justify-items: center;
    height: 3.5rem;
    position: fixed;
    width: 100%;
    margin-top: 48px;
    background-color: rgb(255, 217, 0);
    box-shadow: 10px 10px 30px -10px rgb(114, 114, 114);
    z-index: 99;
}


/*----------------------------*/


/*------------HEADER-----------*/


/*----------------------------*/

.top-stories {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    color: white;
    margin: 0 10px;
    grid-gap: 10px;
    padding-top: 6rem;
}

.top-stories>article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    padding: 15px 10px;
    height: 12rem;
    line-height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.top-stories article:first-of-type {
    grid-row: 1/-3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.146), rgba(4, 4, 4, 0.934)), url(images/Top-image-1.jpg);
}

.top-stories article:nth-of-type(2) {
    grid-row: 2/-2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.146), rgba(4, 4, 4, 0.934)), url(images/Top-image-2.png);
}

.top-stories article:last-of-type {
    grid-row: 3/-1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.146), rgba(4, 4, 4, 0.934)), url(images/Top-image-3.png);
}

.top-stories>article:first-of-type:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(4, 4, 4, 0.934)), url(images/Top-image-1.jpg);
}

.top-stories>article:nth-of-type(2):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(4, 4, 4, 0.934)), url(images/Top-image-2.png);
}

.top-stories>article:last-of-type:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(4, 4, 4, 0.934)), url(images/Top-image-3.png);
}


/*----------------------------*/


/*-------LATEST-NEWS----------*/


/*----------------------------*/

.article-list {
    display: grid;
    grid-template-rows: 12% repeat(8, 1fr);
    grid-gap: 10px;
    padding-left: 20px;
}

.article-list>article {
    display: flex;
}

.article-title {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}

.img-sq {
    height: 5rem;
    width: 5rem;
    margin-right: 15px;
}

.chevron-forward {
    color: red;
}


/*----------------------------*/


/*-----------FUNDING----------*/


/*----------------------------*/

#funding-list {
    display: grid;
    grid-template-rows: 20% repeat(3, 1fr);
    grid-gap: 10px;
    padding-left: 20px;
    margin: 25px 0;
}

#funding-list>div>div>ul {
    list-style: none;
    line-height: 30px;
    padding-top: 15px;
}

.funding-container {
    display: grid;
    grid-template-rows: 7rem repeat(2, 4rem);
    margin-right: 20px;
}

.fund-img-container {
    display: flex;
}

.fund-img-container-grid {
    display: grid;
    grid-template-rows: repeat (2, 1fr);
    width: 100%;
}

.fund-title-container-1 {
    background-color: red;
    display: flex;
    height: 3rem;
}

.fund-title-container-1>img {
    height: 4rem;
    margin: 10px;
    z-index: 10;
}

.fund-title-container-1>h2 {
    display: grid;
    justify-items: center;
    align-items: center;
}

.fund-title-container-2 {
    background-color: rgb(255, 221, 221);
    height: 4rem;
}

.fund-title-container-2>p {
    margin-top: 8px;
    margin-left: 5.5rem;
}

.funding-bot-sect {
    padding: 20px 20px;
    width: 100%;
    background-color: rgb(255, 250, 251);
    border-top: 1px solid pink;
}